SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER_VOLUNTEER=volunteer@bamdellhome.org
SMTP_PASS_VOLUNTEER=

SMTP_USER_CONTACT=info@bamdellhome.org
SMTP_PASS_CONTACT=

EMAIL_TO=inbox@bamdellhome.org
EMAIL_FROM_NAME=Bam Dell Disabilities and Orphanage Home
PORT=3001
